html {
    height: 100%;
    overflow-x: hidden;
}


body {
    background: url(images/BG_2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%
}

.container {
    height: 100%;
}

.container-fluid {
    height: 100%
}


#logo {
    height: 25%;
    width: 25%;
    max-width: 90%;
}

.top {
    background-color: rgb(255, 255, 153);
}

.saying {
    color: red;
    font-size: 2rem;

}

.heading {
    height: 100%;
    padding-left: 0 !important;


}

.heading .name {
    height: 50%;
    font-size: calc(4vw + 4vh + 2vmin);
    color: white;
    font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(48, 48, 48);
    margin: 1%;

}

.heading .slogan {
    padding: 2%;
    height: 20%;
    font-size: calc(1vw + 1vh + 1vmin);
    color: white;
    font-family: "Yrsa-Bold";
    text-shadow: 4px 4px 4px rgb(48, 48, 48);
    margin: 1%;
}

.heading .last {
    height: 10%;


}

.navbar-brand {
    width: 100%;

}

.note {
    font-size: 1rem;
}

.navbar-nav {

}

.navbar-toggler {
    margin-left: 45%;

}

.nav-item {

}

.destinationBtn {
    width: 25%;
    outline: 0;
    border-size: 0;
    outline: none !important;
    font-size: 3vh 3vw;
    color: white;
    background-color: rgb(48, 48, 48);
    font-family: "Yrsa-Bold";
    border-color: rgb(48, 48, 48);
}


.aboutBtn {
    outline: 0;
    border-size: 0;
    outline: none !important;
    font-size: 3vh;
    color: white;
    background-color: rgb(48, 48, 48);
    font-family: "Yrsa-Bold";
    border-color: rgb(48, 48, 48);
}

.reviewBtn {
    outline: 0;
    border-size: 0;
    outline: none !important;
    font-size: 3vh;
    color: white;
    background-color: rgb(48, 48, 48);
    font-family: "Yrsa-Bold";
    border-color: rgb(48, 48, 48);
}


.contactsBtn {
    outline: 0;
    border-size: 0;
    outline: none !important;
    font-size: 3vh;
    color: white;
    background-color: rgb(48, 48, 48);
    font-family: "Yrsa-Bold";
    border-color: rgb(48, 48, 48);
}


.bannerInfo {
    padding-top: 0 !important;
    font-family: "Yrsa-Bold";


}

#aboutParagraph {
    overflow: hidden;
}

.bannerInfo p {
    color: black;
}


.destinationHeader {

    height: auto;
    background-color: rgb(48, 48, 48);
    opacity: .8;
}

.destinationName {
    font-size: calc(4vw + 4vh + 2vmin);
    color: white;
    font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    margin: 2%;

}

.destinationImages {
    width: 50px;
    height: 50px;
}

.destinationSection {
    height: 100%;
}


#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}


.modal-content {
    margin: auto;
    width: 90%;
    max-width: 800px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.infoSection {
    background: url(images/storyImages/cruise.jpg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 90vh !important;
}

.infoBox {
    background-color: rgb(48, 48, 48);
    opacity: .9;
    max-height: 40vh;
    margin-top: 40%;
    margin-bottom: 5vh;

}

.navDots {
    width: 2vw;
    height: 3vh;
    margin: 2%
}

#dots {
    height: 4%;
}


#info {
    width: 100%;
    margin: 2%;
}

#info h1, p {
    width: 100%;
    color: white;
}

.want {
    height: 20%;

    padding-left: 3vh;
    padding-right: 3vh;
    margin-top: 7%;
}

.wantBtn {
    height: 100%;
    width: 40%;

    font-family: "Yrsa-Bold";
}


.reviewSection {
    height: 100%;
}


.reviewTitle {
    font-size: calc(5vw + 5vh + 2vmin);
    height: 10%;
    color: white;
    font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(48, 48, 48);
    padding: 2%;
}


.reviewName {
    font-size: 5vh;
    color: white;
    font-family: "Yrsa-Bold";
    height: 50%;
}

#nameClient {
    color: black;
}

#reviewClient {
    color: black;
}

.circles {
    height: 50%;
}

.reviewNavRow {
    height: 15%;

}

.fa-circle {
    color: black;
    height: 3vh
}

.reviewInfo {
    height: 70%;

}

.reviewBox {
    height: 80%;
    background-color: blanchedalmond;
    box-shadow: 2px 2px 9px rgb(48, 48, 48);
    padding: 3%;
    margin: 3%;

}

.quoteImg {
    height: 20vh;
    width: 20vw;
}

.aboveQuote {
    height: 25%;
}


.clientName {
    font-size: 3vh;
    font-family: "Yrsa-Bold";
    color: black;
}

.reviewText {
    height: 80%;
    font-size: 3vh;
    background-color: blanchedalmond;


}


.contactSection {

    height: 100%;

}

.grey {
    background-color: rgb(48, 48, 48);
    height: 10%;
}

.contactArea {
    height: 80%;
}

.contactWith {
    color: white;
    font-size: 5vw;
    font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(48, 48, 48);
}

.christy {
    color: white;
    font-size: 5vw;
    font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(48, 48, 48);
}

.form {
    height: 80%;
    background-color: blanchedalmond;
    opacity: 1;
    width: 50%;
    margin-top: 4vh;
    padding: 3%;
    margin-bottom: 4%;
}

#contactSection2{
    max-height: 20vh;
    background-color: rgb(48, 48, 48);
    opacity: .9;
    width: 100%;
    margin-top: 4vh;
    padding: 3%;
}

.form-control {
    font-size: 2vw;
}

.first {
    height: 20%;
}

.contactInformation {
    height: 50%;
}

.contactInformation .imgIcon {
    min-height: 6vh;
    min-width: 6vw;
    padding-right: 5%;
    width: 3vw;
    color: white;
}

.contactInformation .address {
    height: 20%;
    font-size: 4vh;
    padding: 3%;
    margin: 2%;
    font-family: "Yrsa-Bold";
}

.contactInformation .email {
    height: 20%;
    font-size: 3vh;
    padding: 3%;
    margin: 2%;
    font-family: "Yrsa-Bold";
}

.contactInformation .phone {
    height: 20%;
    font-size: 4vh;
    padding: 3%;
    margin: 2%;
    font-family: "Yrsa-Bold";
}

#title {
    font-family: "OleoScript-Bold";
    font-size: 2rem;
    color: white;
}

#story {
    overflow-y: hidden;
    height: 80%;
    color: white;
    max-height: 10em;
    overflow-x: hidden;
}

#story::-webkit-scrollbar {
    width: 0.5em;
}

#story::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#story::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: darkgray;
    outline: 1px solid slategrey;
}

.chosenDot:before {
    background-color: orange;
    padding: 1px;
    border-radius: 25px;
}

.chosenNavDot:before {
    background-color: black;
    padding: 1px;
    border-radius: 25px;
}

.hideBackground {
    transition: 0.5s;
}

.fbImage{
    max-height: 4vh;
    max-width: 4vh;
}

@media only screen and (max-width: 970px) {
    #navbarNavAltMarkup{
        padding-left: 3vw !important;
    }
}

/*@media only screen and (min-width: 760px) {
    #aboutMeSection{
        max-height: 50vh;
    }
}*/


.card{
    background-color: lightyellow !important;
}

.card:hover{
    cursor: pointer;
}

.card-title{
    font-family: "Yrsa-Bold" !important
}

.requiredBorder{
    border-color: red;
}

.topNav{
    background-color: rgba(43,42,39,0.96) !important;
}

.menu-elem{
    font-size: x-large;
    color: #718fbf !important;
    font-family: "OleoScript-Bold";
}

.menu-elem:hover{
    cursor: pointer;
    color: darkgray !important;
}

.buttonHoverEffect:hover{
    cursor: pointer;
}

.imageBox{
    background-color: blanchedalmond !important;
    box-shadow: 2px 2px 9px rgb(48, 48, 48) !important;
}

.zoom {
    padding: 2px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
padding: 4px;
    z-index: 1;
cursor: pointer;
    background-color: yellow !important;

}