html{
    height: 100%;
}


body{
    background: url(images/BG_2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%
}

@media (max-width: 320px) {
    .element {
        width: 90%;
    }
}


.container{
    height: 100%;
}

.container-fluid{
    height: 100%
}

#logo{
    height: 90%;
    width: 90%;
    max-width: 90%;
}
.top{
    /*background: url(images/BG_2.png) no-repeat center center fixed;*/
    background-color: rgb(255,255,153);
    /*height: 20%*/

}

.saying{
    color: red;
    font-size: 2rem;

}
.heading{
    height:100%;
 padding-left: 0 !important;


}

.heading .name{
    height: 50%;
    font-size: calc(4vw + 4vh + 2vmin);
    color: white;
font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(48,48,48);
    margin: 1%;

}

.heading .slogan{
    padding: 2%;
    height: 20%;
    font-size: calc(1vw + 1vh + 1vmin);
    color: white;
    font-family: "Yrsa-Bold";
    text-shadow: 4px 4px 4px rgb(48,48,48);
    margin: 1%;
}

.heading .last{
    height: 10%;


}

.navbar-brand{
    width: 100%;

}

.note{
    font-size: 1rem;
}

.navbar-nav{
    margin-left: 25%;
}

.navbar-toggler{
    margin-left: 45%;

}
.nav-item{
    text-align: right;
}

.destinationBtn{
    outline: 0;
    border-size: 0;
    outline: none !important;
    font-size: 3vh;
    color: white;
    background-color: rgb(48,48,48);
    font-family: "Yrsa-Bold";
    border-color: rgb(48,48,48);
}



.aboutBtn{
    outline: 0;
    border-size: 0;
    outline: none !important;
    font-size: 3vh;
    color: white;
    background-color: rgb(48,48,48);
    font-family: "Yrsa-Bold";
    border-color: rgb(48,48,48);
}

.reviewBtn{
    outline: 0;
    border-size: 0;
    outline: none !important;
    font-size: 3vh;
    color: white;
    background-color: rgb(48,48,48);
    font-family: "Yrsa-Bold";
    border-color: rgb(48,48,48);
}



.contactsBtn{
    outline: 0;
    border-size: 0;
    outline: none !important;
    font-size: 3vh;
    color: white;
    background-color: rgb(48,48,48);
    font-family: "Yrsa-Bold";
    border-color: rgb(48,48,48);
}


.bannerInfo{
padding: 5%;
    font-family: "Yrsa-Bold";


}

#aboutParagraph{
    overflow: hidden;
}

.bannerInfo p{
    color: black;


}




.destinationHeader{

    height: 20%;
    background-color: rgb(48,48,48);
    opacity: .8;
}

.destinationName{
    font-size: calc(4vw + 4vh + 2vmin);
    color: white;
    font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(0,0,0);
    margin: 2%;

}
.destinationBtn{
    width: 25%;


}
.destinationImages{
    width: 50px;
    height:  50px;
}


#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


.modal-content {
    margin: auto;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}





.infoSection{
    background: url(images/storyImages/cruise.jpg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: ;
}

.infoBox{
    background-color: rgb(48,48,48);
    opacity: .9;
    height: 70%;
    max-height: 700px;


    margin-top: 40% ;
    margin-bottom: 20% ;

}

.navDots{

    width: 2vw;
    height: 2vh;
    margin: 1%

}

#dots{
    height: 3%;
}


#info{
    height: 65%;
    width: 100%;
    margin: 2%;
}

#info h1, p{
    width: 100%;
    color: white;
}

.navbar{



}

.want{
    height: 10%;
    margin: 4%;
}
.wantBtn{
    height: 80%;
    width: 40%;
    font-family: "Yrsa-Bold";

}


.reviewSection{

    height: 100%;
 }


.reviewTitle{
    font-size: calc(5vw + 5vh + 2vmin);
    height: 10%;
    color: white;
font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(48,48,48);
    padding: 2%;


}



.reviewName{
    font-size: 5vh;
    color: white;
    font-family: "Yrsa-Bold";
    height: 50%;


}

#nameClient{
    color: black;
}

#reviewClient{
    color: black;
}
.circles{
    height: 50%;
}
.reviewNavRow{
    height: 15%;

}
.fa-circle{
    color: black;
}

.reviewInfo{
    height: 80%;

}

.reviewBox{
    height: 60%;
    background-color: blanchedalmond;
    box-shadow: 2px 2px 9px rgb(48,48,48);
    padding: 3%;
    margin: 3%;
    overflow-y: scroll;
}
.quoteImg{
    height: 20vh;
    width: 20vw;
}
.aboveQuote{
    height: 25%;
}


.clientName{
    font-size: 3vh;
    font-family: "Yrsa-Bold";
    color: black;
}

.reviewText{
    font-size: 3vh;
    background-color: blanchedalmond;
    overflow-y: scroll;

}



.contactSection{

    height: 100%;

}
.grey{
    background-color: rgb(48,48,48);
    height: 10%;


}

.contactArea{
    height: 80%;
}

.contactWith{

    color: white;
    font-size: 5vw;
font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(48,48,48);
}

.christy{

    color: white;
    font-size: 5vw;
    font-family: "OleoScript-Bold";
    text-shadow: 4px 4px 4px rgb(48,48,48);

}

.form{
    height:80%;
    background-color: blanchedalmond;
    opacity: 1;
    width: 50%;
    margin-top: 3%;
    padding: 3%;
    overflow-x: scroll;


}

.form-control{
    font-size: 2vw;
}

.first{
    height: 20%;
}
.contactInformation{
    height: 50%;
}

.contactInformation .imgIcon{
    min-height: 6vh;
    min-width: 6vw;
padding-right: 5%;
    width: 3vw;
    color: white;
}
.contactInformation .address{
    height: 20%;
    font-size: 4vh;
    padding: 3%;
    margin: 2%;
    font-family: "Yrsa-Bold";
}

.contactInformation .email{
    height: 20%;
    font-size: 3vh;
    padding: 3%;
    margin: 2%;
    font-family: "Yrsa-Bold";
}

.contactInformation .phone{
    height: 20%;
    font-size: 4vh;
    padding: 3%;
    margin: 2%;
    font-family: "Yrsa-Bold";
}

#title{
    height: 20%;
    color:  white;
}

#story{
    overflow-y: scroll;
    height: 80%;
    color: white;
    max-height: 10em;
    overflow-x: hidden;
}

.destinationSection{
    margin-top: 4vh;
}

@media only screen and (max-width: 760px) {
    .destinationSection{
        margin-top: 16vh !important;
    }
}